/node_modules
/public/hot
/public/vendor
/public/storage
/config/admin.php
/public/assets/images
/storage/*.key
/vendor
/tests/reports/*
.env
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
.idea
/log
